
body {
	font: 14px "Times New Roman", Tahoma, Verdana, sans-serif;
	background-image: url(../images/fondo2.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align:justify;
}

/* DIV CONTENEDOR GENERAL */

#wrapper {
	width: 95%;
	margin: auto;
}

h1 {
	width:90%;
	margin: 40px 60px;
	text-transform:uppercase;
	text-align: center;
}

h2 {
	margin: 50px 100px 20px;
}

h3 {
	text-decoration: underline;
	margin-top: 50px;
}

/* Header
------------------------------------------------------------------------------------------------------------------*/
header {
	height: 300px;
/*	background: #FFE680;	*/
	font: 45px "Papyrus";
	font-variant: small-caps;
}

header div {
	text-align: center;
	vertical-align: middle;
	width: 45%;
	display: inline-block;
}

#logo {
	width:30%;
	
}

/* Middle
--------------------------------------------------------------------------------------------------------------------*/
#middle {
	width: 100%;
    background-color: rgb(90, 153, 211); 
    overflow: auto;
}

/*Desplegable de Informacion
-----------------------------------------------------------*/
div.informacion {
	width:90%;
	margin:5%;
}

/*Formulario
----------------------------------------------------------*/
form {
	width:70%;
	margin:1% 15%;
}

fieldset {
	padding:30px;
	margin: 20px 0px;
}

legend {
	font-variant: small-caps;
}

input:not(.listas) {
	margin-bottom:20px;
}

/*Galeria
---------------------------------------------------------*/
table.imagenes, table.videos {
	width:90%;
	margin: 20px 60px;
	text-align: center;
}

table.imagenes img {
	height: 280px;
	width: 400px;
	margin:30px;
}

video, iframe {
	width:460px;
	height:380px;
	margin: 20px;
}

/*Tablas de cebra
----------------------------------------------------------*/
table.cebra {
	width:90%;
	margin: 0px 60px 40px;
	caption-side:bottom;
	text-align: center;
	background-color: #00FFFF;
	color: #0000FF;
}

table.cebra, table.cebra tr, table.cebra td {
	border: dotted black 2px;
}

.caption {
	background-color:white;
	font-weight: bold;
	color:black;
	width:90%;
	margin-bottom: 0px;
	text-transform:uppercase;
	text-align: center;
}

table.cebra tr:nth-child(even) td:not(.nocolor) {
	background-color: #00b3b3;
}

/*Inicio
------------------------------------------------------------------*/
#content {
    /*Si no asociamos anchura al content intenta coger
	el 100% y se colocaen una línea diferente a la del #sideRight*/
	width: 65%;
	float: left;
    padding: 10px;
	margin-left: 3%;   
}

#content li.ul {
	list-style-type: circle;
}

li.ol {
	list-style-type:lower-roman;
}

#sideRight {
	float: right;
	width: 25%;
	background: #FFACAA;
	padding: 10px;
	text-align: center;
}

#sideRight li {
	border:dashed 2px red;
	padding: 10px;
	margin: 20px;
	margin-left: 0px;
	list-style-type: upper-roman;
}

span {
	text-decoration: underline;
}

mark {
	background-color: rgba(211, 211, 211, 0.582);
}

/* Footer
-----------------------------------------------------------------------------------------------------------------------*/
footer {
    float: left;
	clear: left;
	height: 440px;
	width: 100%;
	background: #013147;
	color:white;
	font: 20px "Lucida Handwriting";
	font-variant: small-caps;
}

footer div {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

footer div.patrocinadores {
	width: 60%;
}

footer div.redessociales {
	width: 30%;
}

footer p {
	text-align: center;
	padding: 10px;
}

footer li {
	list-style-type: none;
	display:inline-block;
}

footer img {
	height: 90px;
	width: 130px;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 20px;
	margin: 20px;
	margin-top: 0px;
}

footer img:hover {
	background-color: black;
}