

body {
	font: 14px "Times New Roman", Tahoma, Verdana, sans-serif;
	background-image: url(../images/fondo2.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* DIV CONTENEDOR GENERAL */

#wrapper {
	width: 95%;
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/
header {
	height: 300px;
/*	background: #FFE680;	*/
	font: 45px "Papyrus";
	font-variant: small-caps;
}

header div {
	text-align: center;
	vertical-align: middle;
	width: 45%;
	display: inline-block;
}

#logo {
	width:30%;
	
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
    background-color: grey; 
    overflow: auto;
}

span {
	text-decoration: underline;
}

#middle li {
	list-style-type: circle;
}

#content {
    /*Si no asociamos anchura al content intenta coger el 100% y se coloca en una línea diferente a la del #sideRight*/
	width: 65%;
	float: left;
    background-color: grey;
    padding: 10px;   
}

#sideRight {
	float: right;
	width: 25%;
	background: #FFACAA;
	padding: 10px;
	text-align: center;
}

#sideRight li {
	border:dashed 2px red;
	padding: 10px;
	margin: 20px;
	margin-left: 0px;
	list-style-type: upper-roman;
}

mark {
	background-color: rgba(211, 211, 211, 0.582);
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
    float: left;
	clear: left;
	height: 300px;
	width: 100%;
	background: #013147;
	color:white;
	font: 20px "Lucida Handwriting";
	font-variant: small-caps;
}

footer div {
	display: inline-block;
	width: 60%;
	text-align: center;
}

footer p {
	text-align: center;
	padding: 10px;
}

footer li {
	list-style-type: none;
	display:inline;
}

footer img {
	height: 110px;
	width: 150px;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 20px;
	margin: 20px;
	margin-top: 0px;
}

footer img:hover {
	background-color: black;
}